{% load tailwind_tags %}

<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="UTF-8">
        <meta name="description" content="Technical Assigment">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Technical Assignment | {% block title %}{% endblock title %}
        </title>

        {% tailwind_css %}

        {% block extend_head %}{% endblock extend_head %}
    </head>

    <body class="bg-neutral-100">


        <header class="fixed left-0 h-screen w-[300px] shadow-lg bg-white py-16">
            <nav class="w-full px-14 space-y-6">
                <div>
                    <a href="#" class="text-lg hover:text-sky-400 duration-300">Home</a>
                </div>

                <div>
                    <a href="#" class="text-lg hover:text-sky-400 duration-300">Edit Profile</a>
                </div>

                <div>
                    <a href="#" class="text-lg hover:text-sky-400 duration-300">Logout</a>
                </div>

                
            </nav>
        </header>

        <main class="ml-[300px] p-4">

            {% block main %}
            {% endblock main %}
        </main>

        
    
    </body>
</html>