{% load tailwind_tags %}

<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="UTF-8">
        <meta name="description" content="Technical Assigment">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Technical Assignment | {% block title %}{% endblock title %}
        </title>

        {% tailwind_css %}

        {% block extend_head %}{% endblock extend_head %}
    </head>

    <body class="bg-neutral-100">


        <header class="fixed left-0 h-screen w-[300px] shadow-lg bg-white">
            <nav class="w-full bg-sky-400">
                
            </nav>
        </header>

        <main>
        </main>

        
    
    </body>
</html>