{% extends "home/base.html" %}
{% load static %}


{% block title %}Dashboard{% endblock title %}

{% block head %}
    <style>
    </style>
{% endblock head %}


{% block main %}

    <div class="pb-10">
        <h3 class="">Welcome {{ request.user }}</h3>
    </div>

    <section>
        <div id="map" class="h-[500px]">
        </div>
    </section>
{% endblock main %}


{% block js_scripts %}
    {{ data|json_script:"data" }}
    {{ request.user.location|json_script:"myLocation" }}
    <script src="{% static 'home/js/custom_map.js' %}"></script>
{% endblock js_scripts %}
