{% extends "home/base.html" %}


{% block title %}Update Profile{% endblock title %}


{% block main %}
    <div class="w-full justify-center flex">
        <div class="w-[400px] bg-white rounded-lg shadow-lg p-6">
            <h4 class="font-semibold text-lg">Update Profile</h4>

            <form method="POST" class="space-y-4 text-sm py-6">
                {% csrf_token %}

                <div class="space-y-2">
                    <label>Username*</label><br>
                    <input type="text" name="username" placeholder="New username" class="text-sm p-3 w-full rounded-lg border border-gray-300" value="{{ request.user.username }}" required/>
                </div>

                <div class="space-y-2">
                    <label>Home address*</label><br>
                    <input type="text" name="home_address" placeholder="New home address" class="text-sm p-3 w-full rounded-lg border border-gray-300" value="{{ request.user.home_address }}" required/>
                </div>

                <div class="space-y-2">
                    <label>Phone number*</label><br>
                    <input type="tel" name="phone_number" placeholder="New phone number" class="text-sm p-3 w-full rounded-lg border border-gray-300" value="{{ request.user.phone_number }}" required/>
                </div>

                <div>
                    <button class="text-md px-6 py-3 rounded-lg hover:bg-sky-400 bg-sky-500 duration-300 text-white font-semibold">Update</button>
                </div>
            </form>
        </div>
    </div>
{% endblock main %}